body
{
    background-image: url(../../resources/images/oces2.png);
    background-size: 35vw;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}
#heading1
{
    background-color: black;
    color: white;
    padding: 10px;
}

#heading2
{
    background-color: maroon;
    padding: 5px;

}

#heading3
{
    background-color: #CFB53B;
    padding: 3px;
}

#hau_logo
{
    height: 70px;
    float:left;
}

#form_padding
{
    padding: 20% 0%;
}

#btn_login
{
    background-color: black;
    color: white;
    border: 3px solid #CFB53B;
    border-radius: 8px;
}

#btn_login:hover
{
    background-color: maroon;
    cursor: pointer;
}

@media screen and (max-width:5500px)
{
    #short_oces_header
    {
        display: none;
    }
}

@media screen and (max-width:841px)
{
    #full_oces_header
    {
        display: none;
    }
    #short_oces_header
    {
        display: inline-block;
    }
}